@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --FF: 'Libre Franklin', sans-serif;
    --FS: 20px;
    --PRIMARYBLUE: #4f7df3;
    --PALEBLUE: hsl(223, 100%, 88%);
    --LIGHTRED: hsl(354, 100%, 66%);
    --GRAY: hsl(0, 0%, 59%);
    --VERYDARKBLUE: hsl(209, 33%, 12%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__container {
    margin: 0 auto;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img--logo {
    margin-bottom: 20px;
}

.title {
    color: var(--GRAY);
    font-weight: lighter;
}

.title > span {
    color: black;
    font-weight: bold;
}

form{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

input, button {
    all: unset;
    width: 70%;
    padding: 20px 40px;
    border-radius: 30px;
    margin-bottom: 20px;
}

input {
    text-align: left;
    outline: 1px solid var(--PRIMARYBLUE);
}

.message--error {
    display: none;
    font-size: .7em;
    font-style: italic;
    color: var(--LIGHTRED);
    margin-bottom: 30px;
}

button {
    background-color: var(--PRIMARYBLUE);
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 60%;
}

.img--dashboard {
    margin-top: 70px;
    width: 100%;
}

.icon__container {
    margin-top: 200px;
    display: flex;
    gap: 30px;
}

.icon {
    border: 1px solid var(--GRAY);
    padding: 10px;
    border-radius: 50%;
    display: flex;
}

footer {
    margin-top: 30px;
    color: var(--GRAY);
}

@media (min-width: 50em) {
    
    .main__container {
        max-width: 700px;
    }

    .title {
        text-align: center;
        font-size: 2.5em;
    }

    .img--dashboard {
        margin-top: 0;
    }

    .icon__container {
        transform: scale(60%);
        margin-top: 0;
    }

    form {
        display: flex;
        justify-content: space-between;
    }

    input {
        width: 100%;
    }

    button {
        width: 20%;
        max-height: 20%;
        display: inline;
    }

    footer {
        font-size: .7em;
        margin-top: 10px;
    }
}